{% extends 'base.html' %}

{% block title %}{{ title }} {% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-12">
				<div class="col-sm-3"></div>
				<div class="col-sm-5" style="background-color: #fff; padding: 20px; border-radius: 5px; margin: 20px; box-shadow: 0px 2px 10px #343a40; ">

				{% if messages %}

    			{% for message in messages %}

					{% if message.tags == 'error'%}
						<div class="alert alert-danger">
							<strong>{{ message }}</strong>
						</div>
					{% endif %}

    			{% endfor %}
				{% endif %}

					<form method="post">
					  <div class="form-group">{% csrf_token %}
					  
					  {% if flag == 'reg' %}
						    {{ profile_form.as_p }}
						    {{ user_form.as_p }}
					   {% elif flag == 'login' %}
					   		{{ form.as_p }}
					   		<p>Not on register yet? <a href="{% url 'registration'%}">Sign Up</a></p>
					   	{% else %}
						  <h1 style="text-align: center; color:#337ab7;">{{ headline }}</h1>
					   		{{ form.as_p }}
					   	{% endif %}
					 
					  <button type="submit" class="btn btn-primary pull-right">Submit</button>
					</form>
				</div>

		</div>
	</div>
</div>
{% endblock %}
